.frmac{
    background-color:grey; height:100px;
  }
  .styqw{
    margin-left:900px;
    width:400px;
    height:60px;
    font-size:50px;
    background-color:silver;
    margin-top:25px;
    box-shadow:10px 10px 40px whitesmoke;
  }
  .dataq{
    margin-left:370px;
    margin-top: -66px;
  }